.poll__icon{
    margin: auto;
    color: white;
}

.poll__icon__div{
    position: fixed;
    display: flex;
    bottom: 50px;
    right: 50px;
    width: 80px;
    height: 80px;
    /*background-color: rgb(93, 93, 93);*/
    background-color: rgba(63,81,181);
    cursor: pointer;
    border-radius: 50%;
}

.poll__creator__div{
    display: flex;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}

.poll__dialog__div{
    display: flex;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}

.poll__viewer__div{
    display: flex;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}

.poll__div{
    display: flex;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}

.snackbar{
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 600px) {
    .poll__icon__div{
        width: 60px;
        height: 60px;
        bottom: 30px;
        right: 30px;
    }
}